

<h1><%= t('stations')%></h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @railway_stations.each do |railway_station| %>
      <tr>
        <td><%= railway_station.title %></td>
        <td><%= link_to t('show'), admin_railway_station_path(railway_station) %></td>
        <td><%= link_to t('edit'), edit_admin_railway_station_path(railway_station) %></td>
        <td><%= link_to t('destroy'), admin_railway_station_path(railway_station), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_station'), new_admin_railway_station_path %><br/>
