<h2><%= @route.name %></h2>
  <p>Список поездов на маршруте:</p>
  <% @route.trains.each do |train|%>
  <p><%= link_to train.number, admin_train_path(train) %></p>
  <% end %>
  <hr/>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p><b>Маршрут:</b></p>
    <ul class="list-group">
      <% @stations.each do |station| %>
          <%= link_to admin_railway_station_path(station), class: "list-group-item" do %>
          <span><%= station.title %></span>
          <span style="float: right;"><%= @route.stations_routes.find_by(railway_station_id: station.id).time %></span>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to 'Edit', edit_admin_route_path(@route)%>
<%= link_to 'All routes', admin_routes_path %>