<h1>Editing Train</h1>

<%= render 'form', train: @train %>

<%= form_for [@train, @train.carriages.build] do |f|%>
<%= f.radio_button(:type, 'ComfortCarriage') %>
<%= f.label("Comfort") %>
<%= f.radio_button(:type, "EconomyCarriage") %>
<%= f.label("Economy") %>
<%= f.submit %>
<%end%>

<%= link_to 'Show', @train %> |
<%= link_to 'Back', trains_path %>
