
<h1><%= t('tickets') %></h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

    <% @tickets.each do |ticket| %>
      <div class="jumbotron">
        <h3 class="lead"><%= ticket.person %></h3>
        <p>Passport: <%= ticket.passport %></p>
          <hr class="my-4">
        <p>From: <%= ticket.start_station.title %> - to: <%= ticket.end_station.title %></p>
        <p>Train: <%= ticket.train.number %> </br>
          Carriage: <%= ticket.carriage.number %> </br>
          <%= ticket.carriage.type %>
        </p>
        <span style="float: right;">
        <%= link_to t('destroy'), ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
      </div><hr/>
    <% end %>


