<h2><%= @route.name %></h2>
  <p>Список поездов на маршруте:</p>
  <% @route.trains.each do |train|%>
  <p><%= link_to train.number, train %></p>
  <% end %>
  <hr/>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p><b>Маршрут:</b></p>
    <ul class="list-group">
      <% @stations.each do |station| %>
          <%= link_to station.title, station, class: "list-group-item" %>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to 'Edit', edit_route_path(@route)%>
<%= link_to 'All routes', routes_path %>