<%= form_with(model: [:admin, train], local: true) do |form| %>
  <% if train.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
      <% train.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="row">
    <div class="col-md-3">
      <%= form.label :number%>
      <%= form.number_field :number, class: "form-control"%>
    </div>
    <% @routes = Route.all %>
    <div class="col-md-4">
      <%= form.label :route %>
      <%= form.select 'route_id', options_from_collection_for_select(@routes, 'id', 'name'), {:include_blank => true } %>
    </div>
    <%= form.submit :Ok, class: "btn btn-sm btn-success" %>
  </div>
<% end %>
