<h1><%= t('edit_train')%></h1>

<%= render 'form', train: @train %>

<%= form_for [:admin, @train, @train.carriages.build] do |f|%>
<%= f.radio_button(:type, 'ComfortCarriage') %>
<%= f.label("Comfort") %>
<%= f.radio_button(:type, "EconomyCarriage") %>
<%= f.label("Economy") %>
<%= f.submit %>
<%end%>

<%= link_to 'Show', [:admin, @train] %> |
<%= link_to 'All Trains', admin_trains_path %>
