<h1><%= t('edit_train')%></h1>

<%= render 'form', train: @train %>

<%= form_for [:admin, @train, @train.carriages.build] do |f|%>
<%= f.radio_button(:type, 'ComfortCarriage') %>
<%= f.label t('comfort') %>
<%= f.radio_button(:type, "EconomyCarriage") %>
<%= f.label t('economy') %>
<%= f.submit %>
<%end%>

<%= link_to t('show'), [:admin, @train] %> |
<%= link_to t('back'), admin_trains_path %>
