<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <div class="container">
    <% if notice %>
    <p class="notice alert alert-success" id="notice"><%= notice %></p>
    <% elsif alert %>
    <p class="alert alert-danger" id="notice"><%= alert %></p>
    <% end %>
    <%= yield %>
    </div>
    <div id="footer">Учебное приложение по Ruby on Rails. Шамгулов Марс, 2019 год.</div>
  </%=>
</html>
